@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.climate-reactions {
    background-color: black;
    padding: 60px 20px;
}

.cr-header {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 50px;
    padding: 30px 30px 0px 60px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.bento-container {
    display: flex;
    gap: 20px; 
    width: 90%;
    margin: 0 auto 20px auto;
    align-items: stretch;
    justify-content: center; 
}

.bento-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 1.5rem;
    padding: 30px;
    border-radius: 10px;
    flex-grow: 1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.bento-box h3 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white; 
    font-family: 'Oswald', sans-serif;
}

.bento-box p {
    font-size: 1.18rem;
    color: white;
    line-height: 1.5;
}

.bento-box:hover {
    transform: scale(1.03);
}
.box1 { background-color: #bb4949; flex: 2.5; }
.box2 { background-color: #D87946; flex: 3; }
.box3 { background-color: #DA9E4B; flex: 3; }
.box4 { background-color: #9e4155; flex: 2.7; }

@media (max-width: 768px) {
    .climate-reactions {
        padding: 50px 20px;
    }

    .cr-header {
        font-size: 3.8rem;
        margin-bottom: 30px;
        padding: 0px 30px;
    }

    .bento-container {
        flex-direction: column;
        gap: 24px;
    }

    .bento-box {
        flex: none;
        width: 100%;
    }

    .bento-box p {
        font-size: 1.3rem;
    }
}
