@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.climate-psychology {
    background-color: #D87946;
    color: white;
    padding: 50px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cp-header {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #7F2A3C;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.cp-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.cp-text {
    width: 50%;
    text-align: left;
    padding: 0 20px;
}

.cp-text p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.cp-image {
    width: 50%;
    text-align: center;
}

.cp-image img {
    width: 90%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .climate-psychology {
        padding: 50px 20px 30px 20px;
    }

    .cp-row {
        flex-direction: column;
        text-align: center;
    }
    
    .cp-text, .cp-image {
        width: 100%;
    }

    .cp-image {
        order: -1; /* Pushes the image to the top */
        margin-bottom: 40px;
    }

    .cp-header {
        font-size: 4rem;
        margin-bottom: 40px;
    }

    .cp-text p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
}
