@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.support-section {
    background-color: #B43F3F;
    padding: 50px 0px 60px 0px;
}

.sup-header {
    text-align: right;
    font-size: 6rem;
    font-weight: bold;
    padding: 0px 50px 50px 50px;
    color: #DA9E4B;
    font-family: 'Oswald', sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    width: 75%;
    background: white;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.banner.sup-left {
    margin-right: auto; 
    background-color: #C7DB9C;
    padding: 30px;
}

.banner.sup-right {
    margin-left: auto;
    flex-direction: row-reverse; 
    text-align: right;
    background-color: #D87946;
    padding: 30px;
}

.banner.sup-right h4, .banner.sup-left h4 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 14px;
}

.banner.sup-right p, .banner.sup-left p {
    font-size: 20px;
    color: black;
}

.banner.sup-left .icon i {
    font-size: 40px;
    color: black;
    background-color: #8BB174;
    border-radius: 50%;
    padding: 15px;
    margin: 0 15px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 80px;  
    height: 80px; 
    flex-shrink: 0;
}

.banner.sup-right .icon i {
    font-size: 40px;
    color: black;
    background-color: #fbc080;
    border-radius: 50%;
    padding: 15px;
    margin: 0 15px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 80px;  
    height: 80px; 
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .sup-header {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        margin: 0px 10px;
        padding: 0px 0px 20px 0px;
    }

    .banner {
        width: 85%; 
        flex-direction: column; 
        text-align: center;
        justify-items: center;
        align-items: center;
        padding: 25px;
        border-radius: 15px; 
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
        margin: 20px auto; 
    }

    .banner.sup-right {
        flex-direction: column !important;
        text-align: center;
    }

    .banner.sup-right h4, .banner.sup-left h4 {
        font-size: 22px;
        margin: 10px 0px;
    }

    .banner.sup-right p, .banner.sup-left p {
        font-size: 14px;
    }

    .icon {
        margin-bottom: 15px;
    }
}
